{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input type="text" id="room-name-input" size="100" placeholder="Enter your room name here!"><br>
    <input type="button" id="room-name-submit" value="Enter">

    <script src="{% static 'js/index.js' %}"></script>
</html>
