{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Chat App</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/chat/" class="active"><i class="fa-solid fa-comment-dot"></i>Chat</a>
        <a href="/todo/"><i class="fa-solid fa-book-open"></i>Todo List</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div>
        {% block chat%}{% endblock %}

        {% block chatroom %}{% endblock %}

        {% block todo %}{% endblock %}
    </div>
</body>
</html>